./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.25.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.35.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.2.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.18.0.1
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.8.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.27.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.14.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.18.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.31.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.23.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.16.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.12.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.24.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.10.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.19.0.2
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.31.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.27.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.14.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.12.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.8.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.5.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.16.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.25.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.23.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.10.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.24.0.3
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.4.0.4
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.7.0.4
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.16.0.4
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.23.0.4
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.2.0.4
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.8.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.0.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.23.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.25.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.2.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.24.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.18.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.16.0.5
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.32.0.1
./input_casper_intel19/mpirankNTASKS_pcolsPCOLS/mg3_tend.24.0.14
